* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s linear;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

main h1, main h2 {
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1.3em;
    color: #0f730f;
}